@import '../styles/Variables.module.scss';

$spring: url(../../../../images/workplan/spring.jpg);
$summer: url(../../../../images/workplan/summer.jpg);
$autumn: url(../../../../images/workplan/autumn.jpg);
$winter: url(../../../../images/workplan/winter.jpg);
