.panel {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;

    // .filter {
    //     margin-bottom: 2rem !important;
    //     padding-bottom: 2rem !important;
    // }
}