.panel {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
    // position: relative;

    // .fab {
    //     position: absolute;
    //     top: 2rem;
    //     right: 12rem;
    // }

    // .filter {
    //     margin-bottom: 2rem !important;
    //     padding-bottom: 2rem !important;
    // }

    // .table {
    //     margin-top: 3rem !important;
    //     padding-top: 10rem !important;
    // }
}