@import '../../../styles/Variables.module.scss';

.dialogText {
    color: $common-black !important;
}

.btnRemove {
    color: $common-white !important;
    background-color: $main-error !important;
    // text-transform: none;
    &:hover {
        background-color: $dark-error !important;
    }
}