@import '../../../styles/Variables.module.scss';

.wrapper {
    padding: 1rem 2rem 1rem !important; // top (right & left) bottom
    height: 100%;
    overflow-y: auto;

    // .date {
    //     color: $dark-warning !important;
    //     background-color: 'red';
    //     transform: none;
    //     text-decoration: none;
    // }

    // .container {
    //     height: 73.2vh;
    //     overflow-y: auto;
    // }

    .table {
        padding: 0;

        .tHead {
            height: 2rem !important;
        }

        .tHeadCell {
            background-color: $light-primary;
            color: $common-white;
            font-weight: bold;
            font-size: larger;
        }

        // Ko nhận
        // .tBody {
        //     .tBodyRow {
        //         height: 50;
        //     }

        //     .tBodyCell {
        //         padding: 0.1rem 1rem
        //     }
        // }
    }
}

.btnSave {    
    color: $common-white !important;
    background-color: $main-info !important;
    &:hover {
        background-color: $dark-info !important;
    }
    &:disabled {
        background-color: $divider !important;
    }
}


.autoComplete {
    margin: 0;
    padding: 0
}

.item {
    padding: 0;
    margin: 0
}
.itemTextPrimary {
    font-size: '0.875rem'
}
.itemTextSecondary {
    font-size: '0.8rem'
}

.chipDate {
    padding: "0.25rem";
    font-size: '1.35rem';
    color: '#fff';
    background-color: '#4caf50';
    // border-radius: "0.5rem"
}