@import '../../../../styles/Variables.module.scss';

.dialogText {
    color: $common-black !important;
}

.btnDisable {
    // color: $common-white !important;
    color: $main-error !important;
    // text-transform: none;
    &:hover {
        color: $dark-error !important;
    }
}