@import '../../styles/Variables.module.scss';

.bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, $navy-800 0%, rgba(9, 17, 24, 1) 100%);
    padding: 1.6rem;
}
.wrapper {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: $grey-100;
    border-radius: 1.2rem;
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        .avatar {
            margin: 0.5rem;
            background-color: $main-secondary;
        }
    }
    .logo {
        background-color: rgba($color: $grey-100, $alpha: 0);
        border-style: none !important;
        .majorImg {
            width: 16rem;
            height: 16rem;
        }
    }
    .submit {
        margin: 1.5rem 0rem 1rem !important;
    }
    .forgetPwd {
        color: $main-info;
    }
    .leftSection {
        width: 50%;
        padding: 8rem 0.5rem;
        display: flex;
        flex: 1 1;
        justify-content: center;
        align-items: center;
        @media (max-width: $md) {
            display: none;
        }
        // background: linear-gradient(
        //     to right,
        //     $old-navy 0%,
        //     rgba(9, 17, 24, 1) 100%
        // );
        background-color: $navy-900;
    }
    .rightSection {
        width: 50%;
        @media (max-width: $md) {
            width: 100%;
        }
        padding: 2rem;
    }
}
