@import '../../../../styles/Variables.module.scss';

.panel {
    height: auto;
    .action {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 0.5rem;
        .submit {
            color: $common-white;
            background-color: $main-info;
            &:hover {
                background-color: $dark-info;
            }
            &:disabled {
                background-color: $divider;
            }
        }
    }
    .content {
        padding: 0.75rem;
        .wrapper {
            padding: 0.75rem;
            border: 1px solid $divider;
            border-radius: $default-radius;
        }
        .row {
            padding: 0.5rem;
        }
        .rowx {
            padding: 0rem 0.5rem;
            @media (max-width: $md) {
                padding: 0.25rem 0.5rem;
            }
        }
        .rowy {
            padding: 0.5rem 0rem;
        }
        .header {
            text-transform: uppercase;
        }
        .title {
            font-weight: 600;
            color: $secondary-text;
        }
        .genderZone {
            display: flex;
            flex-direction: row;
            .gender {
                margin-right: 0.5rem;
            }
        }
        .statusCbZone {
            padding: 0.25rem 0.75rem;
            @media (max-width: $md) {
                padding: 0.25rem 1.5rem;
            }
        }
        .statusTxtZone {
            padding: 0.5rem 0.75rem;
            @media (max-width: $md) {
                padding: 0.5rem 1.5rem;
            }
        }
    }
}
