@import '../../../../styles/Variables.module.scss';

.container {
  height: 100%;
  max-height: 77vh;
  border-radius: $default-radius;
  background-color: $common-white;
  // overflow-x: 'auto'  !important
}

.table {
  // width: 440;
  // min-width: 200px;
  // height: 100%;
  // height: fit-content;
  // max-height: 10rem;
  // overflow-x: scroll;
  // overflow-y: scroll;
  padding: 0;

  .tHead {
    // sticky-header: true;
    // border-radius: 8px !important;
    height: 3rem !important;
    // position: relative;
    // top: 0;
  }

  .tHeadCell {
    background-color: $light-primary; // !important
    color: $common-white;
    font-weight: bold;
    font-size: large;
    // text-align: center;
  }

  .tBody {
    .tBodyRow {
      height: 50;
    }

    .tBodyCell {
      padding: 0.1rem 1rem
    }
    // .tBodyCell:first-child {
    //   position: sticky;
    //   left: 0;
    //   // z-index: 100 !important;  // sao nó ko nhận cái này ta???
    // }

    .picName {
      font-size: 0.875rem !important;

    }
  }
}

.sortLabel {
  color: #ffffff; 
}
.sortLabel.active {
      color: #ffffff; 
}

.paging {
  // display: flex;
  flex-shrink: 0;
  // width: 1000;
}