@import '../../../styles/Variables.module.scss';

.wrapper {
    padding: 0.5rem 2rem 1rem !important; // top (right & left) bottom
    height: 100%;
    overflow-y: auto;
}

.btnSave {    
    color: $common-white !important;
    background-color: $main-info !important;
    &:hover {
        background-color: $dark-info !important;
    }
    &:disabled {
        background-color: $divider !important;
    }
}

.schoolYear {
    padding-bottom: 0.5rem;
}