@import '../../../../styles/Variables.module.scss';

.wrapper {
    // padding: 0.5rem 2rem 1rem !important; // top (right & left) bottom
    // height: 100%;
    // overflow-y: auto;    
    width: 100%;
    height: 100%;
    overflow-y: auto;
    // padding: 1rem;


}

.btnSave {    
    color: $main-info !important;
    &:hover {
        color: $dark-info !important;
    }
    &:disabled {
        color: $divider !important;
    }
}

.schoolYear {
    padding-bottom: 0.5rem;
}

.iconFilter {
    font-size: 1.25rem;
}

.dialogText {
    color: $common-black !important;
}

.searchField {
    margin-top: 1rem !important;
}

.btnDiv {
    display: block;
    padding-top: 0.8rem;
    .btnAdd {
        float: right;
    }
}

.filtersZone {
    padding: 0 1rem;
}