@import '../../../../styles/Variables.module.scss';

// .dialog {
//     // width: fit-content;
//     max-width: 100%;
// }

.wrapper {
    padding: 0.5rem 2rem 1rem !important; // top (right & left) bottom
    height: 100%;
    overflow-y: auto;
}

.container {
//   height: 46vh; // 100%
  height: fit-content;
  max-height: 46vh;
  overflow-y: auto;
  border-radius: $default-radius;

  .table {
    padding: 0;

    .tHeadCell {
      background-color: $light-primary; // !important
      color: $common-white;
      font-weight: bold;
      font-size: larger;
      // text-align: left  !important;
    }
    // .tHeadCellNo {
    //     @extend .tHeadCell;
    //     width: 1rem;
    // }
    // .tHeadCellName {
    //     @extend .tHeadCell;
    //     width: 14rem;
    // }
    // .tHeadCellPic {
    //     @extend .tHeadCell;
    //     width: 14rem;
    // }
    // .tHeadCellPurpose {
    //     @extend .tHeadCell;
    //     width: 11.5rem;
    // }
    // .tHeadCellNote {
    //     @extend .tHeadCell;
    //     width: 11rem;
    // }

    .tBody {
      .tBodyCell {          
        padding: 0.1rem 1rem;
        // justify-content: center !important;
    }
    }
  }
}

.btnSave {    
    color: $main-info !important;
    &:hover {
        color: $dark-info !important;
    }
    &:disabled {
        color: $divider !important;
    }
}
.icon{
  float: right;
  padding: 0.5% !important;
}
.popover{
  padding: .3% !important;
}
.tBodyRow{
    cursor: pointer;
    text-decoration-line: line-through;
    
  }

.title {
  font-weight: 600;
  color: $secondary-text;
  font-size: 1.2rem !important;
  padding: 1.6rem 0.5rem 0 0;
}

.chipLead {
  background-color: $trust !important;
  color: $common-white !important;
}
.chipCustomer {
  background-color: $clarity !important;
  color: $common-white !important;
}

.chipSalesMoi {
  background-color: $clarity !important;
  color: $common-white !important;
}
.chipTheoDoi {
  background-color: $energy !important;
  color: $common-white !important;
}
// .chipTiemNang {
//   background-color: $trust !important;
//   color: $common-white !important;
// }
.chipChamSoc {
  background-color: $compassion !important;
  color: $common-white !important;
}
.chipTaiKy {
  background-color: $memory !important;
  color: $common-white !important;
}
.chipKyMoi {
  background-color: $creative !important;
  color: $common-white !important;
}