@import '../../../../styles/Variables.module.scss';

.wrapper {
  border-radius: $default-radius;
  background-color: $common-white;
  overflow-y: auto;
}

.container {
  height: 73.2vh;
  overflow-y: auto;
}

.table {
  padding: 0;

  .tHead {
    height: 3rem !important;
  }

  .tHeadCell {
    background-color: $light-primary;
    color: $common-white;
    font-weight: bold;
    font-size: large;
  }

  .tBody {
    .tBodyRow {
      height: 50;
    }

    .tBodyCell {
      padding: 0.1rem 1rem
    }

    .noRecord {
      color: gray !important;
      font-style: italic;
      font-size: 1.3em
    }
    
    .tCellSchoolName {
      @extend .tBodyCell;
      font-size: 0.925rem;
    }

    .picName {
      font-size: 0.875rem !important;
    }
  }
}

.sortLabel {
  color: #ffffff; 
}
.sortLabel.active {
      color: #ffffff; 
}

.paging {
  flex-shrink: 0;
}

.chipLead {
  background-color: $dark-info !important;
  color: $common-white !important;
}

.chipCustomer {
  background-color: $main-success !important;
  color: $common-white !important;
}

.itemText {
  font-size: 0.875rem !important;
}