@import '../../../../../styles/Variables.module.scss';

.paper {
    border-radius: $default-radius !important;
    overflow: hidden;
    .header {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 0.4rem 1.2rem;
        color: $common-black;
        .title {
            font-size: 1rem;
            line-height: 1.75;
            font-weight: 500;
            overflow: hidden;
            flex: 1;
        }
        .action {
            font-size: 1rem;
            line-height: 1.75;
            font-weight: 500;
            overflow: hidden;
            color: $common-black;
        }
    }
    .body {
        padding: 1.2rem;
        height: 24.35rem;
    }
}
