@import '../../../styles/Variables.module.scss';

.dialogCont {
    padding: 1rem !important;
    .wrapper {
        overflow-y: auto;
    }
}

.dialogAct {
    padding: 1rem !important;
    .btnSave {
        color: $common-white !important;
        background-color: $main-info !important;
        &:hover {
            background-color: $dark-info !important;
        }
        &:disabled {
            background-color: $divider !important;
        }
    }
}
