@import '../../styles/Variables.module.scss';

.wrapper {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    border-radius: $default-radius;
    .infoContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: $light-primary;
        border-radius: $default-radius !important;
        .logout {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            .logoutBtn {
                color: $common-white;
                justify-self: center;
                &:hover {
                    background-color: $main-info;
                }
            }
        }
        .infoAvatar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0.5rem 0rem;
            .avatar {
                width: 7rem;
                height: 7rem;
                font-size: 2rem !important;
            }
            .inputAvatar {
                display: none;
            }
            .uploadBtn {
                color: $common-white;
                justify-self: center;
                &:hover {
                    background-color: $main-primary;
                }
            }
        }
        .infoName {
            color: $common-white;
            margin: 0.5rem 0rem;
            font-size: 2.4rem;
            @media (min-width: $md) {
                font-size: 3.2rem;
            }
        }
    }
    .about {
        margin-top: 4.6rem;
        .appBar {
            background-color: $light-primary;
        }
        // .cardContent {
        //     background-color: $common-white;
        //     padding: 1rem;
        //     .cardText {
        //         padding: 0rem 1rem;
        //     }
        // }
        .cardText {
            margin-bottom: 1rem;
            padding: 0rem 1rem;
        }
        .titles {
            font-weight: 700;
            font-size: 1.4rem;
        }
        .detailZone {
            display: flex;
            flex-direction: row;
        }
        .details {
            font-size: 1.3rem !important;
            margin-right: 0.5rem;
            input:disabled {
                color: $common-black !important;
            }
        }
        .detailsAccor {
            @media (min-width: $sm) {
                padding-left: 0.5rem;
            }
            @media (min-width: $md) {
                padding-left: 0.5rem;
            }
        }
        .inputZone {
            // margin: 1rem 0rem;
            .inputField {
                margin: 1rem 0rem;
                width: 100%;
            }
        }
        .saveBtn {
            color: $dark-info;
        }
        .account {
            margin-bottom: 1.6rem;
        }

        .me {
            margin-bottom: 1.6rem;
        }
    }
}
