@import '../../styles/Variables.module.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    border-radius: $default-radius;
    padding: 0.5rem;
    .infoContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background: linear-gradient(
            to left,
            $main-primary 0%,
            $light-primary 100%
        );
        background-size: cover;
        background-color: $light-primary;
        border-radius: $default-radius !important;
        // .logout {
        //     width: 100%;
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: flex-end;
        //     align-items: center;
        //     .logoutBtn {
        //         color: $common-white;
        //         justify-self: center;
        //         &:hover {
        //             background-color: $main-info;
        //         }
        //     }
        // }
        .infoAvatar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0.5rem 0rem;
            .avatar {
                width: 7rem;
                height: 7rem;
                font-size: 2rem !important;
            }
            .inputAvatar {
                display: none;
            }
            .uploadBtn {
                color: $common-white;
                justify-self: center;
                &:hover {
                    background-color: $main-primary;
                }
            }
        }
        .infoName {
            color: $common-white;
            margin: 0.5rem 0rem;
            font-size: 2.1rem;
            @media (min-width: $md) {
                font-size: 2.8rem;
            }
        }
    }
    .about {
        margin-top: 4.6rem;
        // .appBar {
        //     background-color: $light-primary;
        // }
        // .cardContent {
        //     background-color: $common-white;
        //     padding: 1rem;
        //     .cardText {
        //         padding: 0rem 1rem;
        //     }
        // }
        .cardText {
            margin-bottom: 1rem;
            padding: 0rem 1rem;
        }
        .titles {
            font-weight: 700;
            font-size: 1.4rem;
        }
        .detailZone {
            display: flex;
            flex-direction: row;
        }
        .details {
            font-size: 1.3rem !important;
            margin-right: 0.5rem;
            input:disabled {
                color: $common-black !important;
            }
        }
        .detailsAccor {
            @media (min-width: $sm) {
                padding-left: 0.5rem;
            }
            @media (min-width: $md) {
                padding-left: 0.5rem;
            }
        }
        .inputZone {
            // margin: 1rem 0rem;
            .inputField {
                margin: 1rem 0rem;
                width: 100%;
            }
        }
        .actions {
            display: flex;
            justify-content: flex-end;
        }
        .saveBtn {
            color: $trust;
            &:hover {
                color: $light-info;
            }
            &:disabled {
                color: $disabled;
            }
        }
        .account {
            margin-bottom: 1.6rem;
        }
        .me {
            margin-bottom: 1.6rem;
        }
    }
}
.nf {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    border-radius: $default-radius;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    .nfImgContainer {
        padding: 3rem;
        border-radius: 50%;
        background-color: $grey-300;
        @media (max-width: $sm) {
            padding: 2rem;
        }
        .nfImg {
            width: 9rem;
            height: 9rem;
            opacity: 0.4;
            @media (max-width: $sm) {
                width: 6rem;
                height: 6rem;
            }
        }
    }
    .nfTitle {
        padding: 1.2rem;
        color: $secondary-text;
        font-size: 3rem;
        line-height: 1.167;
        @media (max-width: $sm) {
            font-size: 2.135rem;
            line-height: 1.235;
        }
    }
}
