@import '../../styles/Variables.module.scss';

.root {
    display: flex;
    height: 100%;
    min-height: 100%;
    border-radius: $default-radius;
    position: relative;
    .topBg {
        top: 0;
        left: 0;
        right: 0;
        height: 11.5rem;
        position: absolute;
        background: linear-gradient(
            to left,
            $main-primary 0%,
            $light-primary 100%
        );
        background-size: cover;
        background-color: $light-primary;
        z-index: 1;
    }
    .container {
        display: flex;
        width: 100%;
        .content {
            flex: 1 1 100%;
            display: flex;
            padding: 0 1.5rem;
            @media (max-width: $md) {
                padding: 0 1.2rem;
            }
            @media (max-width: $sm) {
                padding: 0 1rem;
            }
            z-index: 2;
            max-width: 100%;
            min-width: 0;
            min-height: 0;
            flex-direction: column;
            .header {
                display: flex;
                flex-direction: column;
                min-height: 8.5rem;
                height: 8.5rem;
                @media (max-width: $sm) {
                    min-height: 8.5rem;
                    height: 8.5rem;
                }
                color: $common-white;
                justify-content: center;
                align-items: flex-start;
                .nav {
                    color: $common-white;
                    cursor: pointer;
                    .icon {
                        display: flex;
                        vertical-align: middle;
                    }
                    .text {
                        margin: 0rem 0.4rem;
                    }
                }
                .headerInfo {
                    display: flex;
                    max-width: 100%;
                    align-items: center;
                    .infoAvatar {
                        width: 4.8rem;
                        height: 4.8rem;
                        @media (max-width: $sm) {
                            width: 4.2rem;
                            height: 4.2rem;
                        }
                    }
                    .avatarTxt {
                        font-size: 3rem;
                        text-transform: uppercase;
                    }
                    .infoBasic {
                        display: flex;
                        flex-direction: column;
                        min-width: 0;
                        margin: 0rem 0.8rem;
                        .basicMain {
                            font-size: 1.5rem;
                            line-height: 1.334;
                            letter-spacing: 0em;
                        }
                        .basicSub {
                            font-size: 1rem;
                            line-height: 1.75;
                            letter-spacing: 0.00938em;
                        }
                        // .activeSub {
                        //     color: $common-white;
                        //     background-color: $trust;
                        //     width: fit-content;
                        // }
                        // .inactiveSub {
                        //     color: $common-white;
                        //     background-color: $disabled;
                        //     width: fit-content;
                        // }
                        // .statusSub {
                        //     color: $common-white;
                        //     width: fit-content;
                        // }
                    }
                }
            }
            .body {
                display: flex;
                flex-direction: column;
                flex: 1 1 100%;
                min-height: 0;
                border-radius: $default-radius;
                background-color: $common-white;
                overflow: hidden;
                .toolbar {
                    display: flex;
                    height: 3rem;
                    min-height: 3rem;
                    align-items: center;
                    border-bottom: 1px solid $divider;
                    .toolbarTitle {
                        padding: 0 1.62rem;
                        font-size: 0.875rem;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }
                .wrapper {
                    overflow-y: auto;
                    padding: 1rem;
                }
            }
        }
    }
}
