@import '../../../../styles/Variables.module.scss';

.root {
    display: flex;
    height: 100%;
    min-height: 100%;
    border-radius: $default-radius;
    position: relative;
    .topBg {
        top: 0;
        left: 0;
        right: 0;
        height: 200px;
        position: absolute;
        background: linear-gradient(
            to left,
            $main-primary 0%,
            $light-primary 100%
        );
        background-size: cover;
        background-color: $light-primary;
        z-index: 1;
    }
    .container {
        display: flex;
        width: 100%;
        .content {
            flex: 1 1 100%;
            display: flex;
            padding: 0 1.5rem;
            @media (max-width: $md) {
                padding: 0 1.2rem;
            }
            @media (max-width: $sm) {
                padding: 0 1rem;
            }
            z-index: 2;
            max-width: 100%;
            min-width: 0;
            min-height: 0;
            flex-direction: column;
            .header {
                display: flex;
                min-height: 7.2rem;
                height: 7.2rem;
                // @media (min-width: $sm) {
                //     min-height: 7.2rem;
                //     height: 7.2rem;
                // }
                color: $common-white;
                align-items: center;
            }
            .body {
                display: flex;
                flex-direction: column;
                flex: 1 1 100%;
                min-height: 0;
                border-radius: $default-radius;
                background-color: $common-white;
                .wrapper {
                    overflow-y: auto;
                    padding: 0 0.5rem;
                    .tabPanel {
                        height: 100vh;
                        .cardText {
                            margin-bottom: 1rem;
                            padding: 0rem 1rem;
                        }
                        .titles {
                            font-weight: 700;
                            font-size: 1.4rem;
                        }
                        .detailZone {
                            display: flex;
                            flex-direction: row;
                        }
                        .details {
                            font-size: 1.3rem !important;
                            margin-right: 0.5rem;
                            input:disabled {
                                color: $common-black !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
