@import '../../../../styles/Variables.module.scss';

.panel {
    height: auto;
    padding: 1rem;
    .body {
        .content {
            padding: 0.75rem;
            .child {
                padding: 0.75rem;
                .header {
                    padding: 0.5rem;
                    .title {
                        font-weight: 600;
                    }
                }
                .body {
                    padding: 0.5rem;
                    .title {
                        font-weight: 600;
                        color: $secondary-text;
                    }
                    // .detail {
                    // }
                    .icon {
                        margin-left: 0.5rem;
                    }
                    .titleZone {
                        padding: 0.25rem;
                        // .title {
                        //     font-weight: 600;
                        //     color: $secondary-text;
                        // }
                    }
                    .detailZone {
                        padding: 0.25rem;
                        display: flex;
                    }
                }
            }
        }
        .action {
            padding: 0.75rem;
        }
    }
}
