@import '../../../../styles/Variables.module.scss';

.paper {
    border-radius: $default-radius !important;
    overflow: hidden;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem 1.2rem;
        color: $common-black;
        .title {
            font-size: 1rem;
            line-height: 1.75;
            font-weight: 500;
            overflow: hidden;
        }
        .action {
            font-size: 1rem;
            line-height: 1.75;
            font-weight: 500;
            color: $common-black;
            height: 28px;
        }
    }
    .body {
        padding: 1.2rem;
        display: flex;
        .icon {
            display: flex;
            border-radius: $default-radius;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
        }
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        .detail {
            padding: 0rem 0.5rem 0rem 1rem;
            font-size: 1.25rem;
            line-height: 1.6;
            font-weight: 600;
        }
        .subDetail {
            font-weight: 600;
            color: $secondary-text;
        }
    }
}
