@import '../../../../styles/Variables.module.scss';

// .dialog {
//     // width: fit-content;
//     max-width: 100%;
// }

.wrapper {
    padding: 0 2rem 1rem !important; // top (right & left) bottom
    height: 100%;
    overflow-y: auto;
}

.container {
//   height: 46vh; // 100%
  height: fit-content;
  max-height: 46vh;
  overflow-y: auto;
  border-radius: $default-radius;

  .table {
    padding: 0;

    .tHeadCell {
      background-color: $light-primary; // !important
      color: $common-white;
      font-weight: bold;
      font-size: larger;
    }
    .tHeadCellNo {
        @extend .tHeadCell;
        width: 1rem;
    }
    // .tHeadCellName {
    //     @extend .tHeadCell;
    //     width: 14rem;
    // }
    // .tHeadCellPic {
    //     @extend .tHeadCell;
    //     width: 14rem;
    // }
    // .tHeadCellPurpose {
    //     @extend .tHeadCell;
    //     width: 11.5rem;
    // }
    // .tHeadCellNote {
    //     @extend .tHeadCell;
    //     width: 11rem;
    // }

    .tBody {
      .tBodyCell {         
      padding: 0 0.5rem;
    }
    }
  }
}

.btnSave {    
    color: $main-info !important;
    &:hover {
        color: $dark-info !important;
    }
    &:disabled {
        color: $divider !important;
    }
}
.icon{
  float: right;
  padding: 0.5% !important;
}
.popover{
  padding: .3% !important;
}
.tBodyRow{
    cursor: pointer;
    text-decoration-line: line-through;
}

.suggestionContainer {
  padding-left: 1rem;

  // .iconRefresh{
  //   width: 0.4rem;
  //   height: 0.4rem;
  // }
  .suggestionTitle {
    color: $text-icon;
    font-size: 0.88rem;
  }

  .cardContainer {
    width: 100%;
    padding: 0.1rem 0 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;

    .cardCover {
      margin-right: 0.5rem;
      cursor: pointer;
      // border: 1px solid black;

      .quickCard {
        width: 10.8rem;
        height: 3.85rem;
        display: flex;
        background-color: $grey-300;
        
        .quickCardAvatar {
          width: 3.1rem;
          height: 3.85rem;
          border-radius: $default-radius;
        }
  
        .content {
          width: 70%;
          padding: 0;
          margin: 0;

          .listItem {
            width: 100%;
            padding: 0.2rem 0 0 0.5rem; 
            margin: 0;
            .listItemText {
              padding: 0; margin: 0;
            }
          }

          .subInfo {
            width: 100%;
            padding-left: 0.4rem;
            display: flex;

            .starPoint {
              display: flex;
              flex-grow: 10;
              .point {
                padding-left: 0.1rem;
                font-weight: 500;
                font-size: 0.9rem;
              }
            }
            
            .distancePoint {              
              display: flex;
              .iconLocation {
                width: 0.9rem;
                height: 1.2rem;
                color: $dark-error
              }
              .distance {
                font-size: 0.85rem;
                padding-right: 0.4rem;
              }
            }
          }
          // color: $primary-text;
        }
      }
    }
  }
}

.alertContainer {
  width: fit-content;
  height: fit-content;
  padding: 0;
  .noSalesman {
    color: lightslategrey;
  }
}