@import '../../../../styles/Variables.module.scss';

.notiCard {
    padding: 0;
    margin: 0;
    width: 100%;
}

.notiItem {
    width: 100% !important;
    height: auto;
    // word-wrap: break-word !important;
    padding: 0.4rem;
}
.content {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.notiContent {
    padding: 0.2rem 1rem 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    .typo {
        // width: 90% !important;
        color: $common-black;
    }
    .notSeenTypo {
        @extend .typo;
        color: $dark-info;
        font-weight: 700 !important;
    }
}
