@import '../../../../styles/Variables.module.scss';

.panel {
    height: auto;
    .action {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem;
        .btnApprove {
            color: $common-white;
            background-color: $main-info;
            &:hover {
                background-color: $dark-info;
            }
            &:disabled {
                background-color: $divider;
            }
        }
        .btnReject {
            margin-left: 0.5rem;
            color: $common-white;
            background-color: $main-error;
            &:hover {
                background-color: $dark-error;
            }
            &:disabled {
                background-color: $divider;
            }
        }
    }
    .content {
        padding: 0.5rem;
        .wrapper {
            padding: 0.5rem;
            border: 1px solid $divider;
            border-radius: $default-radius;
        }
        .row {
            padding: 0.5rem;
        }
        .rowx {
            padding: 0rem 0.5rem;
        }
        .rowy {
            padding: 0.5rem 0rem;
        }
        .header {
            text-transform: uppercase;
        }
        .title {
            font-weight: 600;
            color: $secondary-text;
        }
    }
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}