.criInfoPanel {
    width: 16.8rem;
    max-height: 16rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.2rem;
}

.txtCriInfo {
    font-size: 0.75rem;
    font-weight: 100;
    margin: 0.1rem 0 0.5rem;
}
.txtCriInfoHeader {
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 0.5rem;
}