@import '../../../../styles/Variables.module.scss';

// .dialog {
//     // width: fit-content;
//     max-width: 100%;
// }

.wrapper {
    padding: 9.8rem 0.5rem 0.5rem !important; // top (right & left) bottom
    height: 100%;
    overflow-y: auto;
}

.container {
//   height: 46vh; // 100%
  height: fit-content;
  max-height: 46vh;
  overflow-y: auto;
  border-radius: $default-radius;

  .table {
    padding: 0;

    .tHeadCell {
      background-color: $light-primary; // !important
      color: $common-white;
      font-weight: bold;
      font-size: larger;
       text-align: center !important;
    }
    .tHeadCellNo {
        @extend .tHeadCell;
        width: 1rem;
    }
    // .tHeadCellName {
    //     @extend .tHeadCell;
    //     width: 14rem;
    // }
    // .tHeadCellPic {
    //     @extend .tHeadCell;
    //     width: 14rem;
    // }
    // .tHeadCellPurpose {
    //     @extend .tHeadCell;
    //     width: 11.5rem;
    // }
    // .tHeadCellNote {
    //     @extend .tHeadCell;
    //     width: 11rem;
    // }

    .tBody {
      
        .tBodyCell {
          
        padding: 0.1rem 1rem;
        justify-content: center !important;
    }
    }
  }
}

.btnSave {    
    color: $main-info !important;
    &:hover {
        color: $dark-info !important;
    }
    &:disabled {
        color: $divider !important;
    }
}
.icon{
  float: right;
  padding: 0.5% !important;
}
.tBodyRow{
    cursor: pointer;
    text-decoration-line: line-through;   
}