@import '../../../../styles/Variables.module.scss';

.dialogText {
    color: $common-black !important;
}

.btnYes {
    color: $main-info !important;
    // text-transform: none;
    &:hover {
        color: $dark-info !important;
    }
}