@import '../styles/Variables.module.scss';

$drawer-width: 16rem;
$drawer-width-close: 4.25rem;
$logo: url(../assets/images/major/logo-major-edu.png);
$banner: url(../assets/images/major/banner-major-edu.png);

.root {
    display: flex;
    justify-content: flex-start;
}
/* App bar */
.appBar {
    background-color: $navy-a700 !important;
    width: calc(100% - #{$drawer-width-close}) !important;
    z-index: 1201 !important;
    transition-property: width, margin !important;
    transition-duration: $leaving-screen !important;
    transition-timing-function: $sharp !important;
}
.appBarShift {
    width: calc(100% - #{$drawer-width}) !important;
    transition-property: width, margin !important;
    transition-duration: $entering-screen !important;
    transition-timing-function: $sharp !important;
}
@media (max-width: $md) {
    .appBar {
        width: 100% !important;
    }
}
.toolbar {
    .menuBtn {
        display: none !important;
    }
    .grow {
        flex-grow: 1;
        display: none;
    }
    .title {
        font-weight: 500;
        color: $common-white;
        flex-grow: 1;
        align-self: center;
    }
    @media (max-width: $md) {
        .menuBtn {
            display: inline-flex !important;
        }
        .grow {
            display: inline-flex;
        }
        .title {
            display: none;
        }
    }
}
.notif {
    height: 3rem;
}
.badge {
    background-color: $main-info;
    color: $main-info;
}
/* Side menu */
.drawerPaper {
    background-color: $main-primary !important;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
        0px 16px 24px 2px rgba(0, 0, 0, 0.14),
        0px 6px 30px 5px rgba(0, 0, 0, 0.12) !important;
    width: $drawer-width;
    white-space: nowrap;
    transition-property: width !important;
    transition-duration: $entering-screen !important;
    transition-timing-function: $sharp !important;
    .drawerHeader {
        justify-content: flex-start;
        .majorImg {
            content: $banner;
            width: 10.5rem;
            height: 2.6rem;
            margin-left: 0.6rem;
        }
    }
    .drawerFooter {
        justify-content: flex-end;
    }
}
.drawerPaperClose {
    width: $drawer-width-close;
    overflow-x: hidden;
    transition-property: width !important;
    transition-duration: $leaving-screen !important;
    transition-timing-function: $sharp !important;
    .drawerHeader {
        justify-content: center;
        .majorImg {
            content: $logo;
            width: 2.98rem;
            height: 2.6rem;
            margin-left: 0rem;
        }
    }
    .drawerFooter {
        justify-content: center;
        .chevron {
            transform: rotate(180deg);
        }
    }
}
@media (max-width: $md) {
    .drawerPaperClose {
        width: 0;
    }
}
.drawerHeader {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    min-height: 3.5rem;
    @media (min-width: $xs) and (orientation: landscape) {
        min-height: 3rem;
    }
    @media (min-width: $sm) {
        min-height: 4rem;
    }
}
.drawerFooter {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-top: 1px solid $divider;
    @media (max-width: $md) {
        display: none;
    }
}
.menuItem {
    margin: 1rem 0rem;
    align-items: center;
    &:hover {
        background-color: $light-primary;
    }
    .menuIcon {
        margin: 0.25rem 0rem;
        padding-left: 0.45rem;
        font-size: 1.25rem;
    }
    .menuText {
        color: $common-white !important;
        // font-size: 1.25rem;
        // font-weight: 500;
    }
}
/* Page load */
.content {
    background-color: $background;
    flex-grow: 1;
    height: 100vh;
    margin-left: $drawer-width-close;
    overflow: auto;
    transition-property: margin;
    transition-duration: $leaving-screen;
    transition-timing-function: $sharp;
}
.contentShift {
    margin-left: $drawer-width;
    transition-property: margin;
    transition-duration: $entering-screen;
    transition-timing-function: $sharp;
}
@media (max-width: $md) {
    .content {
        margin-left: 0rem;
    }
}
.appBarSpacer {
    min-height: 3.5rem;
    @media (min-width: $xs) and (orientation: landscape) {
        min-height: 3rem;
    }
    @media (min-width: $sm) {
        min-height: 4rem;
    }
}
.container {
    height: calc(100% - 4rem);
    overflow: hidden;
    background-color: $background;
    // padding: 1.2rem;
    @media (max-width: $md) {
        height: calc(100% - 3rem);
        // padding: 1rem 0.3rem 1rem 1rem;
    }
}
