@import '../../../../styles/Variables.module.scss';

.dialogText {
    color: $common-black !important;
}

.btnOK {
    color: $main-info !important;
    &:hover {
        color: $dark-info !important;
    }
}